body{
  margin: 0;
  background-color: blanchedalmond;
}
.test{
  background-color: blueviolet;
  color: aliceblue;
}
h1{
  background-color: blue;
}
@media screen and (max-width: 1024px){
  h1{
    background-color: aquamarine;
  }
}
@media screen and (max-width: 768px){
  h1{
    background-color: rgb(137, 13, 238);
  }
}
@media screen and (max-width: 480px){
  h1{
    background-color: rgb(141, 238, 76);
  }
}